body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #d4f7dc, #add2c3, #72a287, #647269);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}

h1 {
    color: #044103; 
    margin-bottom: 20px;
    font-size: 48px;
}

p {
    color: #044103; 
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    font-size: 18px;
    padding: 15px 30px;
    color: #ffffff;
    background-color: #023313;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #1AA34A;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.song-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 250px; 
    height: 230px; 
    padding: 10px; 
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    border: none;
}

.song-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.song-card h2 {
    margin: 0;
    font-weight: 600;
    color: #044103; 
    font-size: 1.3em; 
}

.song-card p {
    margin: 5px 0;
    color: #044103; 
}

audio {
    margin-top: 10px;
    width: 100%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}