body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(45deg, #d4f7dc, #add2c3, #72a287, #647269);
    background-size: 400% 400%;
    animation: gradientAnimation 20s ease infinite;
}

h1 {
    color: #044103; 
    margin-bottom: 50px;
    font-size: 60px;
}

#tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.track {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.track:hover {
    transform: scale(1.05);
}

.track h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}

.track p {
    margin: 5px 0;
    text-align: center;
}

audio {
    margin-top: 10px;
    width: 100%;
}

/* Animation styles */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #cce0cd, #78b178);
    animation: gradientAnimation 10s infinite alternate;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}
.songs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.song-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.song-card h2 {
    margin-top: 0;
    color: #044103; 
}

.song-card p {
    margin: 5px 0;
    color: #044103; 
}

audio {
    margin-top: 10px;
    width: 100%;
}
